Source: ros-jazzy-raph-oak
Section: misc
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-clang-format <!nocheck>, ros-jazzy-ament-cmake-clang-tidy <!nocheck>, ros-jazzy-ament-cmake-copyright <!nocheck>, ros-jazzy-ament-cmake-lint-cmake <!nocheck>, ros-jazzy-ament-cmake-xmllint <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-depthai, ros-jazzy-depthai-bridge, ros-jazzy-generate-parameter-library, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-raph-oak
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-depthai, ros-jazzy-depthai-bridge, ros-jazzy-generate-parameter-library, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Description: Oak camera pipeline for Rapha Rover
