Source: ros-jazzy-raph-robot
Section: misc
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-lint-cmake <!nocheck>, ros-jazzy-ament-cmake-xmllint <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-raph-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-raph, ros-jazzy-raph-bringup, ros-jazzy-ros-workspace
Description: Packages for Raph Rover running on the robot.
